@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
$font-family: "Roboto", sans-serif;


// color variables
$theme-orange: #d65a31;
$theme-black: #222831;
$theme-gray-light: #eeeeee;
$theme-gray-dark: #393e46;